"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDirectoryColumn: true
    "atom-ide-terminal":
      rendererType: "dom"
  "atom-typescript":
    autocompleteParens: true
    checkAllFilesOnSave: true
  core:
    customFileTypes:
      "source.ts": [
        "ts"
      ]
    disabledPackages: [
      "atom-ide-ui"
    ]
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "c7cdac1d-ab49-4d3e-911b-49de51370399"
  "file-types":
    "*.component.html": "text.html.ng"
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    panelHeight: 302
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "sass-autocompile":
    compileOnSave: false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
